body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(red, white);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 250px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://www.belleandblush.com/cdn/shop/files/24_11_Studio_Holiday-4_jpg_large@2x.progressive.jpg?v=1732215806");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWRqbnhlNjJicms4ZGZlYmQyYTB3M2V1ODF3d3QxaTFpeDczbDltbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/4a3Faktri7ZVHMNzpV/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGhweTZoZXR4dmV3OHR0NGJpdHhneGN3MjRkMjlxcmI4cWM1eWJ2OSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/DVWichUKQt82QUlANj/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://www.ukglassware.com/cdn/shop/files/JohnSmithsPintGlass.png?v=1737727641&width=1080");
}

#gift-img-badass:hover {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmtpMzVucmNqOG85aXN6czV6aGN5d2phY3NpMnd4ejNmNjQyY2RuaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l46CsKjjCKkZGVfzi/giphy.gif");
}


}

